<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetyBayFrontEnd</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/ng-table.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
    <script src="js/ng-table.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/angular-file-upload.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/1.1.5/angular-file-upload.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.7.1/angular-translate.min.js"></script>
</head>

<body>

<div class="container" >
    <div class="header clearfix" ng-controller="loginUserController">
        <nav>
            <ul class="nav nav-pills pull-right">

                <a class="btn btn-md btn-default noborder blue_color" role="button" href="#/login" ng-show="!authenticatedUser.email">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <strong>{{ 'MY_PROFILE' | translate }}</strong>
                </a>



                <li class="dropdown" ng-show="authenticatedUser.email">
                    <a class="btn btn-md btn-default noborder blue_color" role="button" href="#/myaccount" ng-show="authenticatedUser.email">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <strong>{{authenticatedUser.email}}</strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-click="userLogout()"><a>Logout</a></li>
                    </ul>
                </li>

                <a class="btn btn-md btn-default noborder color_yellow" role="button" href="#/addadvert">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <strong>{{ 'ADD_ADVERT' | translate }}</strong>
                </a>

                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        {{ 'LANGUAGE' | translate }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><button type="button" ng-click="changeLanguage('en')">Enlish language</button></li>
                        <li><button type="button" ng-click="changeLanguage('ru')">Русский язык</button></li>
                        <li><button type="button" ng-click="changeLanguage('ua')">Українська мова</button></li>
                    </ul>
                </div>
            </ul>
        </nav>
        <h3 class="color_red"><strong><a href="#/index">PetyBay</a></strong></h3>
    </div>


    <div ng-view></div>



    <footer class="footer" ng-controller="dateController">
        <p>&copy; PetyBay {{date | date:'yyyy'}}</p>
    </footer>

</div>

</body>

</html>