<div class="blue_background margin_bottom blue_border padding_all">
    <div class="row">
        <form class="form-inline" role="form">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <input type="text" class="form-control" id="searckKeyword" placeholder="Keyword" style="width: 100%">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <input type="text" class="form-control" id="searchLocation" placeholder="Location" style="width: 100%">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
            </div>
        </form>
    </div>
</div>

<div class="margin_bottom_10" ng-repeat="advertEntity in adverts">
    <div class="row" >
        <div class="col-lg-3 col-md-3 col-sm-3">
            <img ng-src={{advertEntity.imageEntity[0].htmlLink}} class="col-xs-12" style="max-height: 150px; max-width: 300px"/>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <h4><a href="#/advert/{{advertEntity.id}}"><strong>{{advertEntity.title}}</strong></a></h4>
            <p></p>
            <p>{{getEntityName(advertEntity.location.region)}}, {{getEntityName(advertEntity.location.city)}}</p>
            <p>{{advertEntity.publicationDate | milisecondsToDateTime | date:'dd-MM-yyyy'}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4><strong>{{advertEntity.price.price}} {{advertEntity.price.currency}}</strong></h4>
        </div>

   </div>
</div>


<pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="true"></pagination>
<pre>Page: {{currentPage}} / {{numPages}}</pre>
<select
        ng-model="itemsPerPage"
        ng-options="itemsPerPageSelect for itemsPerPageSelect in itemsPerPageSelectList"
        ng-change="itemsPerPageListener()">
</select>