<div class="container" style="background-color: #F7F7F7">
    <div style="background-color: #FFFFFF; margin-top: 10px">
<tabset justified="true">
    <tab heading="Adverts">
        <tabset >
            <tab heading="Active" select="activeAdverts()">
                <table ng-table="tableParams" class="table ng-table-responsive">
                    <tbody ng-repeat="advert in adverts">
                    <tr>
                        <td data-title="'Date'">
                            {{advert.publicationDate | milisecondsToDateTime | date:'HH:mm dd/MM/yyyy'}}
                        </td>
                        <td data-title="'Title'">
                            <div>
                                <img ng-src={{advert.imageEntity[0].htmlLink}} height="50"/>
                                {{advert.title}}
                            </div>
                            <div>
                                <a href="#/pet/{{advert.id}}">View</a> Edit Deactivate
                            </div>
                        </td>

                        <td data-title="'Price'">
                            {{advert.price.price}}
                        </td>
                        <td data-title="'Messages'">
                            1 message
                        </td>
                        <td data-title="'Action'">
                            advertisement
                        </td>
                    </tr>

                    <tr>
                        <td>Statistics:</td>
                        <td>View: {{advert.viewCount}}</td>
                        <td>Phone: 23</td>
                        <td>ICQ: 3390</td>
                        <td>Skype: 12</td>
                        <td>Favorite: 2</td>
                    </tr>
                    </tbody>
                </table>

            </tab>
            <tab heading="Waiting" select="waitingAdverts()">
                <div>
                </div>
            </tab>
            <tab heading="Non active" select="nonActiveAdverts()">Non active adverts</tab>
        </tabset>
    </tab>
    <tab heading="Messages">
        <tabset >
            <tab heading="Inbox" select="inboxMessages()">Inbox</tab>
            <tab heading="Outbox" select="outboxMessages()">Outbox</tab>
            <tab heading="Archive" select="archiveMessages()">Archive</tab>
        </tabset>
    </tab>
    <tab heading="Payments and account petybay" select="paymentsAndAccount()">Payments and account petybay</tab>
    <tab heading="Preferences" select="accountPreferences()">Preferences</tab>
</tabset>
    </div>
</div>
